body {
  background-color: #000000;
}

canvas {
  background-color: #222020;
  height: 85vh;
  width: 75vw;
  padding: 1rem;
  margin: 2rem auto;
  border: solid 1px #3a1b1b;
  display: flex;
  align-items: center;
}
