body {
  background-color: #000000;
}

canvas {
  background-color: #222020;

  padding: 1rem;
  margin: 5rem auto;
  border: solid 1px #3a1b1b;
  display: flex;
  align-items: center;
}
